<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
@if (User.Identity.IsAuthenticated)
{
    // Si el usuario está autenticado, se muestra un formulario para cerrar sesión
    <form method="post" class="form-inline" asp-page="/Account/Logout">
        Welcome @User.Identity.Name
        <button type="submit" class="ml-2 btn btn-link">Cerrar sesion</button>
    </form>
}
else
{
    // Si el usuario no está autenticado, se muestra un enlace para iniciar sesión
    <a class="btn btn-link" asp-page="/Account/Login">Iniciar sesion</a>
}