@page
@model SupermarketWEB.Pages.PayModels.DeleteModel

@{
    ViewData["Title"] = "Eliminar Método de Pago";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h2 class="text-center mb-0">Eliminar Método de Pago</h2>
                </div>
                <div class="card-body">
                    <h3 class="text-center">¿Está seguro de que desea eliminar este método de pago?</h3>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            Nombre del Método de Pago
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PayMode.Name)
                        </dd>
                        <dt class="col-sm-2">
                            Observación
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PayMode.Observation)
                        </dd>
                    </dl>
                    <form method="post">
                        <input type="hidden" asp-for="PayMode.Id" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a asp-page="./Index" class="btn btn-secondary">Volver a la Lista</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
